@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #b2f3df;
  --card-gray-color: #f2f2f2;
  /*--primary-text-color: #023020;*/
  --primary-text-color: #2b2945;
  --secondary-text-color: #90a8a9;
  --transition: 1s ease-in;
  --light-green: #1ec28b;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 5rem;
  margin-top: 2rem;
  font-family: 'Montserrat', sans-serif;
}
